{{> header }}
{{> topfaq }}

<div class="faqs-container cont">
	<div class="faqs int">
		<div class="faq case">
			<h3 id="faq-case">Does Thermodo work with a case?</h3>
			<div class="aside">
				<p>Not with every case out there. Thermodo hasn’t been designed with a case in mind and it should be able to click all the way into the audio jack of your device. Here’s a video explaining the situation and the options. Some cases will work just fine, but if yours doesn’t you always have the option of using an audio extension cable with your Thermodo. <a href="#faq-extension-cable">Read about it below</a>.</p>
			</div>
			<div class="bside">
			<a href="http://vimeo.com/63288295" target="_blank">{{{ img "faq-case.jpg" }}}</a>
			</div>
		</div>

		<div class="faq android-support">
			<h3 id="faq-android-support">How well is Thermodo supported on Android?</h3>
			<div class="aside">
				<p>Thermodo is currently supported on a wide range of popular Android devices. You can download the <a href="https://play.google.com/store/apps/details?id=com.robocatapps.thermodo" target="_blank">free Thermodo app from the Google Play Store</a>.</p>
				<p>Making Thermodo work on Android is not just one thing. Handset makers have imposed multiple firmware and hardware differences on android devices, making interfacing with the audio input quite tricky. We're continuously building out support for more devices and rigorously testing and adapting our codebase to enable Thermodo compatibility with the most popular devices on the market. The current Android version (1.2) supports a range of devices and you'll find the ones that have passed all of our tests below and in the picture to the right.</p>
				<p>Thermodo 1.2 currently supports: Samsung S2, Samsung S3, Samsung S4, Google Nexus 7, Google Nexus 5, Google Nexus One, Galaxy Nexus, Nexus S, HTC One, HTC One S, Sony Experia S &amp; Samsung Galaxy Tab 3.</p>
				<p>Those are the devices that have passed ALL of our tests and that we know work for sure. This doesn't mean that all other devices doesn't work, but it is very much untested and potentially unreliable. The app currently supports Android 4.0.3 (Ice Cream Sandwich) and above.</p>
				<p>We will continue to improve our software and build out support for more devices. Our aim is to make this work on all the most popular Android devices.</p>
			</div>
			<div class="bside">
				{{{ img "faq-android.jpg" }}}
			</div>
		</div>

		<div class="faq ios-support">
			<h3 id="faq-ios-support">How well is Thermodo supported on iOS?</h3>
				<p>Thermodo works on all iOS 7 &amp; iOS 8 enabled Apple devices. <a href="https://itunes.apple.com/us/app/thermodo/id739181884?mt=8" target="_blank">free Thermodo app from the App Store</a>.</p>
				<p>The Thermodo app is a universal iOS app that works beautifully on both iPhone &amp; iPad.</p>
		</div>

		<div class="faq extension-cable">
			<h3 id="faq-extension-cable">Can I use extension cables to measure temperature away from my device?</h3>
			<div class="aside">
				<p>Absolutely! Use a 4-pole audio extension cable to get the Thermodo away from your device. This actually has several benefits. Getting it away from both you and the device eliminates the most common sources of heat that impacts the measurement. Check out this video with Ulrik &amp; Marcus showing off the use of extension cables.</p>
				<p>You can get a Thermodo-approved 4-pole audio extension cable from the <a href="http://shop.thermodo.com/products/extension-cable">Thermodo Shop</a>.</p>
			</div>
			<div class="bside">
				<a href="http://vimeo.com/76458958" target="_blank">{{{ img "faq-extension.jpg" }}}</a>
			</div>
		</div>

		<div class="faq extension-cable-pole">
			<h3 id="faq-extension-cable-pole">Which extension cables work with Thermodo?</h3>
			<div class="aside">
				<p>Using an extension cable with Thermodo is awesome, but there's a lot of different cables out there and you need to make sure that the cable you're getting is able to transport the sound back into your device. On a regular "Stereo" 3.5mm 3-pole plug you've got left audio, right audio and ground. On a 4-pole cable you've most often got Left Audio, Right Audio, Ground and a Microphone conductor. Without this last piece, your device won't be able to listen in on your Thermodo. A fairly quick way to determine if a cable has this is by counting the rings on the jack. See the illustration to the right.</p>
				<p>There's a couple of variations on this depending on the cable, so blindly counting isn't a full proof solution. Understanding whether or not there's a microphone conductor is key. Also understand that lengths of cable more than 1-2 meters long will diminish the signal and potentially create unreliable readings.</p>
				<p>You can get a Thermodo-approved 4-pole audio extension cable from the <a href="http://shop.thermodo.com/products/extension-cable">Thermodo Shop</a>.</p>
			</div>
			<div class="bside">
				{{{ img "faq-poles.jpg" }}}
			</div>
		</div>

		<div class="faq warmer">
			<h3 id="faq-warmer">Why is my temperature reading warmer than I expect?</h3>
			<div class="aside">
				<p>A lot of things can impact your temperature reading, and like with all sensitive equipment it’s easy to ‘pollute’ your measurement. The two biggest factors of heat are your device and yourself. In the settings pane, you’ll find an option to compensate for device heat. We suggest you experiment with this, if you’re getting higher than expected readings. Device heat varies greatly, depending on how long the device has been in use, screen brightness, CPU intensive tasks and charging.</p>
				<p>On top of that, be very aware of your handling and proximity to Thermodo. It really is quite sensitive, and even holding it in your hand before taking the measurement will result in you getting a temperature that is closer to your body temperature. To get the most exact reading, be sure to leave thermodo uninterrupted in the environment for a few minutes before taking the measurement. Also note that it’s easy to warm up the Thermodo and it takes longer for the heat to dissipate.</p>
				<p>Things like microclimates and pockets of warmth radiating off objects are exactly the sort of things Thermodo is good at measuring - so consider all these things when you’re experiencing temperatures that you feel might be ‘off’. The Sensor inside Thermodo is a high grade precision sensor with decimal accuracy, chances are next to nothing that a reading is due to a faulty thermodo. In 99.9% of the scenarios, it’s all about the environment.</p>
			</div>
			<div class="bside">
				{{{ img "faq-heat-body.jpg " }}}
				{{{ img "faq-heat-device.jpg " }}}
			</div>
		</div>

		<div class="faq pollution">
			<h3 id="faq-pollution">How do I minimize heat pollution when measuring the temperature?</h3>
			<div class="aside">
				<p>As soon as you touch your Thermodo, you start to warm it up with your body heat, even just taking it out of the keyring can impact your reading with 5-10 degrees Fahrenheit. This is sensitive business, and that isn't even taking into account the many other micro climactic factors that can impact your reading. So if our aim is to measure the ambient temperature, how do we go about it?</p>
				<p>If you're just trying to get a quick estimate, turning on the 'compensate for device heat' in the settings pane will help negate the worst heat pollution. Experiment with what works in your circumstances and for many people this will be just fine. If you want to get scientific about it, and we know some of you do, here's some tips.</p>
				<p>Leave Thermodo uninterrupted in the environment you want to measure for a few minutes before taking the measurement. When you do, take it with a cold device with minimal or no touching of the sensor. We've seen people lower their phone onto the jack pole. Read the measurement fairly quickly, remember the longer it stays in your phone, the warmer it'll get.</p>
				<p>Another option, which is definitely the most scientific of them all, is to get a 4-pole audio extension cable. We've shown this a few times in our videos. Using an extension cable not only allows you to measure things that are not immediately around you, but it removes the Thermodo from the most obvious heat sources, you and your device. Everyone who tries this has remarked on the speed and accuracy. You can get a Thermodo-approved 4-pole audio extension cable from the <a href="http://shop.thermodo.com/products/extension-cable">Thermodo Shop</a>.</p>
				<p>Many of these things can also be said about the 'speed' in which Thermodo takes measurements. If you're tracking a drastic temperature change (like taking Thermodo from inside to outside) you'll effectively slow down the cooling process by having it plugged into a device.</p>
				<p>If you at first don't succeed, don't despair. The art of taking accurate temperature measurements can take a bit of getting used to. But trust us when we say, that what you're holding in your hand is one of the more precise thermometers you'll ever encounter. It's all about the environment and learning how to master it.</p>
			</div>
			<div class="bside">
				{{{ img "faq-pollution-app.jpg " }}}
				{{{ img "faq-pollution-leave.jpg " }}}
				{{{ img "faq-pollution-extension.jpg " }}}
			</div>
		</div>

		<div class="faq time">
			<h3 id="faq-time">How long does it take to measure the temperature?</h3>
			<div class="aside">
				<p>It really depends on the change of environment you’re trying to measure and how exact you want your measurement to be. If you’re bringing thermodo from the warm comforts of your home, or your pocket, and outside in the freezing cold you can expect it to take somewhat longer than if you’re just measuring the difference in temperature within your home. It can easily take a good few minutes for the device to settle on a temperature. Also notice how it might settle on a temperature range within a few minutes, but the last decimals might take longer to home in on. It helps to think about the sensor inside the housing and basic physics when imagining the timeline of a measurement. If there’s a radical change in the environment, the housing will heat up or cool down correspondantly, but as the housing approaches the same temperature as the environment, the smaller incremental changes might take longer to manifest in the enclosure.</p>
			</div>
			<div class="bside">
				{{{ img "faq-time.jpg " }}}
			</div>
		</div>

		<div class="faq time">
			<h3 id="faq-issues">I’m having issues with my Thermodo<br>What could be wrong?</h3>
			<div class="aside">
				<p class="img">{{{ img "faq-apple.jpg" }}}</p>
				<p>Here’s a few things to try if you’re having issue with Thermodo on your iPhone, iPod or iPad:</p>
				<p>1. If you you're device is having trouble detecting the Thermodo device then disable automatic detection. Thermodo detection is found in Settings inside the Thermodo app.</p>
				<p>2. Make sure that the Thermodo is plugged all the way in to the audio jack. If you have a case on, you’ll need to remove that. It needs to be clicked all the way in there.</p>
				<p>3. If the reading is wildly off, check that the Thermodo app is set to the correct temperature unit. The app supports both Fahrenheit and Celcius. You can change the unit in the settings inside the Theremodo app.</p>
				<p>4. Did you forget to allow access to the microphone when you first opened the app? Enable the microphone in Settings of your device. In Settings app under Privacy, then Microphone, find Thermodo and enabled it.</p>
				<p>5. Try forcequitting the app and restart it. You do this by doubletapping the home button and swiping up on the Thermodo app. Then relaunch it.</p>
				<p>6. If your Thermodo is stuck on a single measurement (often 25&deg;C / 77&deg;F) it might be caused by changes to the hearing settings on your device. If Mono sound has been enabled or if the volume in the left/right audio channels have ben adjusted you'll end up with a Thermodo that can't read the input. All you need to do to correct this is to go into Settings-> General-> Accessibility -> Hearing. If mono sound is enabled, disable that. If the channel volume is skewed, center it.</p>
				<p>7. Sometimes audio ports on devices get dirty and that might cause issues for Thermodo. Investigate your audio port and clean out any dirt that might be in there.</p>
				<p>8. If you’re still having issues, try Thermodo on another iOS device and see if the same issue occurs.</p>
				<p>9. Still nothing after having tried all of the above? <a href="mailto:hello@thermodo.com">contact us</a> and we’ll help you troubleshoot. </p>
			</div>
			<div class="bside">
				<p class="img">{{{ img "faq-androidicon.jpg " }}}</p>
				<p>Troubleshooting Android is a bit more tricky than iOS, as there's a wider range of devices and therefore more different things that can be acting up. Heres some things to try if you’re having issues on your Android device:</p>
				<p>1. Make sure that you have the latest version installed from the <a href="https://play.google.com/store/apps/details?id=com.robocatapps.thermodo" target="_blank">Google Play Store</a>.</p>
				<p>2. Thermodo requires Android 4.0.3 or higher. Please make sure that your device meets these requirements.</p>
				<p>3. If you’re experiencing unstable temperature readings or if Thermodo is not detected, please check that any “audio-enhancers” such as Beats Audio or Dolby Digital are disabled in the sound settings of your device.</p>
				<p>4. On a few devices it is not possible to automatically adjust the master volume from within the app. Before starting Thermodo, please go to Settings->Sound->Volumes and set the music volume to maximum.</p>
				<p>5. Sometimes audio ports on devices get dirty and that might cause issues for Thermodo. Investigate your audio port and clean out any dirt that might be in there.</p>
				<p>6. if you're still having issues use the support button from within the app to send us an email. That way we'll get all of your device info to help us debug.</p>
			</div>
		</div>

		<div class="faq shipping-origin">
			<h3 id="faq-shipping-origin">Where do we ship from?</h3>
			<p>We ship from the United States</p>
		</div>

		<div class="faq shipping-time">
			<h3 id="faq-shipping-time">How long does shipping take?</h3>
			<p>If you selected USPS First-Class Mail Parcel shipping, domestic orders can take 3-8 business days (Monday-Saturday). For faster shipping select UPS or FedEx. </p>
			<p>International orders can take between 1 and 8 weeks. For faster shipping select UPSP Priority or Express.</p>
		</div>

		<div class="faq shipping-carriers">
			<h3 id="faq-shipping-carriers">What carriers can I choose for shipping?</h3>
			<p>We provide shipping through UPS, USPS and FedEx.</p>
		</div>

		<div class="faq shipping-tracking-number">
			<h3 id="faq-shipping-tracking-number">Do you provide tracking number?</h3>
			<p>Yes, there is always a tracking number included with your order. You will receive an email with the tracking number, when your Thermodo leaves our warehouse.</p>
		</div>

		<div class="faq shipping-country">
			<h3 id="faq-shipping-country">Do you ship to my country?</h3>
			<p>We ship to all countries with only a few exceptions. Due to shipping restrictions in certain countries, we are unfortunately not able to ship to the following countries:</p>
			<ul>
				<li>Brazil</li>
				<li>Cuba</li>
				<li>India</li>
				<li>Kosovo</li>
				<li>Somalia</li>
				<li>Syria</li>
				<li>North Korea</li>
				<li>Russia</li>
				<li>United Arab Imirates</li>
			</ul>
		</div>

		<div class="faq large-quantities">
			<h3 id="faq-large-quantities">I want to order a large quantity.</h3>
			<p>Just send an email to <a href="mailto:hello@thermodo.com">hello@thermodo.com</a> for any inquiries.</p>
		</div>
	</div>
</div>

{{> bottomdefault }}
{{> footer }}
