{{> header }}
{{> topsoftware }}


<div class="support-container cont">
	<div class="support">
		<div class="aside">
			<h2>Measure the<br>temperature</h2>
			<p>The Companion app works on both your iPhone, iPod and iPad. It even runs on iOS 6! The Android version supports a large range of the most popular devices.</p>
			<a href="http://thermodo.com/faq/#faq-android-support" class="button outlined-inv">Learn more about the supported devices</a>
		</div>
		<div class="bside">
			{{{ img "thermodo-ipad.png" }}}
		</div>
	</div>
</div>


<div class="other-apps-container cont">
	<div class="other-apps int">
		<h3>Other apps that support Thermodo</h3>
		<div class="app-list">
			<a href="http://thermo.me" class="app thermo" target="_blank">
				{{{ img "thermo-icon.png" }}}
				<h3>Thermo</h3>
				<p class="desc">The pocket thermometer</p>
				<span class="button outlined arrowed uppercased">Details</span>
			</a>
			<a href="https://itunes.apple.com/us/app/hub-temperatures-in-the-cloud/id820546679?mt=8" target="_blank" class="app hub">
				{{{ img "hub-icon.png" }}}
				<h3>Hub</h3>
				<p class="desc">Thermodo temperatures in the cloud</p>
				<span class="button outlined arrowed uppercased">Details</span>
			</a>
			<a href="https://github.com/simonbs/Temperatus" target="_blank" class="app temperatus">
				{{{ img "temperatus-icon.png" }}}
				<h3>Temperatus</h3>
				<p class="desc">A little Mac app</p>
				<span class="button outlined arrowed uppercased">Details</span>
			</a>
			<a href="http://shadeapp.com" class="app shade" target="_blank">
				{{{ img "shade-icon.png" }}}
				<h3>Shade</h3>
				<p class="desc">A clean weather app</p>
				<span class="button outlined arrowed uppercased">Details</span>
			</a>
		</div>
	</div>
</div>

<div class="software-container cont">
	<div class="software int">
		<h2>Software is half the fun</h2>
		<p class="subsubtitle">Without proper software, Thermodo would just be a pretty keyring. The Companion app is your first stop for basic Thermodo functionality, but we’ve created an SDK so other developers can integrate Thermodo support in <em>their</em> products.</p>
		<a href="http://developer.thermodo.com" class="button outlined">Learn more about the SDK</a>
	</div>
</div>

{{> bottomdefault }}
{{> footer }}